Test/Service References/Facilitator/StringBasedCommunicationFacilitator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StringBasedCommunicationFacilitator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StringBasedCommunicationFacilitator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestBagGetCustomerOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="RQBody" nillable="true" type="tns:ArrayOfRequestBodyGetCustomerOrders" />
      <xs:element minOccurs="0" name="RQHeader" nillable="true" type="tns:RequestHeaderGetCustomerOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBagGetCustomerOrders" nillable="true" type="tns:RequestBagGetCustomerOrders" />
  <xs:complexType name="ArrayOfRequestBodyGetCustomerOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestBodyGetCustomerOrders" nillable="true" type="tns:RequestBodyGetCustomerOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestBodyGetCustomerOrders" nillable="true" type="tns:ArrayOfRequestBodyGetCustomerOrders" />
  <xs:complexType name="RequestBodyGetCustomerOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="OnlyPendingOrders" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBodyGetCustomerOrders" nillable="true" type="tns:RequestBodyGetCustomerOrders" />
  <xs:complexType name="RequestHeaderGetCustomerOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestHeaderGetCustomerOrders" nillable="true" type="tns:RequestHeaderGetCustomerOrders" />
  <xs:complexType name="ResponseBagGetCustomerOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="RSBody" nillable="true" type="tns:ArrayOfResponseBodyGetCustomerOrders" />
      <xs:element minOccurs="0" name="RSHeader" nillable="true" type="tns:ResponseHeaderGetCustomerOrders" />
      <xs:element minOccurs="0" name="RequestText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBagGetCustomerOrders" nillable="true" type="tns:ResponseBagGetCustomerOrders" />
  <xs:complexType name="ArrayOfResponseBodyGetCustomerOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseBodyGetCustomerOrders" nillable="true" type="tns:ResponseBodyGetCustomerOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseBodyGetCustomerOrders" nillable="true" type="tns:ArrayOfResponseBodyGetCustomerOrders" />
  <xs:complexType name="ResponseBodyGetCustomerOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="_Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBodyGetCustomerOrders" nillable="true" type="tns:ResponseBodyGetCustomerOrders" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ResponseHeaderGetCustomerOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalNumOfOrders" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseHeaderGetCustomerOrders" nillable="true" type="tns:ResponseHeaderGetCustomerOrders" />
</xs:schema>